bin/
target/
state/
coverage/
browsers/
node_modules/
web-ext-artifacts/

.project
*.local.launch
Copy of *.launch
*~
~*.docx
~*.pptx
com.chronon.sb.browser.launcher.prefs
Corel Auto-Preserve/
.DS_Store
