---
---

$header-heading-color: #fff !default;
$header-bg-color: #2A2A57 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #2A2A57 !default;
$body-text-color: #606c71 !default;
$body-link-color: #2A2A57 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

.project-name img {
	height: 2.25rem;
}

.site-footer {
	text-align: center;
	padding-bottom: 5px;
}

.site-footer-abs {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.project-name a,
.project-name a:visited,
.project-name a:hover {
	color: #ffffff;
}

a,
a:visited,
a:hover {
	color: #5050EE
}

.project-name a:hover {
	text-decoration: none;
}

img.screenshot {
	border: solid #2A2A57 1px;
	margin-top: 18px;
}
